*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color:rgb(246, 209, 250);
}
img{
    display: block;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto;
    max-width: 800px;
}
.title-container{
    width: 100%;
}
.title-container h1{
    margin: 1rem 1rem 1rem 0;
}
.title-container input[type=text]{
    border: 1px solid rgb(213, 40, 213);
    font-size: 1.1rem;
    width: 90%;
    height: 1.6rem;
    padding: 0 0.5rem;
}
.pic-container img{
    max-width: 100px;
    border-radius: 100%;
}
.witty{
    padding: 0.5rem 0 0 0;
    text-align: center;
}

section{
    width: 100%;
    padding: 1rem 0;
}
.tech-card-odd{
    background-color: #f0f0f0;
}
.tech-card-even{
    background-color: #ffffff;
}
.tech-card-odd:hover,
.tech-card-even:hover{
    background-color:rgb(252, 235, 254);
}

.tech-card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 800px;
}
.logo{
    width: 10%;
    text-align: left;
    font-size: 3.5rem;
    line-height: 1;
}

.info{
    width: 72%;
}
.info-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-title h2{
    font-size: 1.3rem;
    font-weight: bold;
}
.tags span{
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px 5px;
    font-size: 0.8rem;
    margin-left: 0.1rem;
    padding: 0.2rem 0.4rem;
}
.info-description h3{
    font-size: 0.8rem;
    font-weight: bold;
}
.info-description p{
    font-size: 0.7rem;
}
.rating{
    text-align: right;
    width: 18%;
}
.rating-stars{
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
.rating-stars-small{
    display: none;
    margin-bottom: 0.5rem;
}
.rating-last{
    font-size: 0.6rem;
}
.nothingToSeeHere{
    background-color: rgba(255, 255, 255, 0.44);
    border: 2px solid #fff;
    font-size: 1.2rem;
    max-width: 800px;
    text-align: center;
    margin: auto;
}
.nothingToSeeHere div{
    padding: 2rem;
}
.nothingToSeeHere div img{
    max-width: 4rem;
    margin: 0 auto 1rem auto;
}
.nothingToSeeHere div i{
    display: block;
    font-size: 4rem;
    margin: 0 0 1rem 0;
}